extends layout

block content
  div(id="main")

    p To start your adventure, submit a name and receive your token
    div(id="submit")
      p(id="warning")
      div Character Name:&nbsp;
        input(type="text" name="charName" id="input")
      button(type="button" id="submitButton" onclick="createChar()") Submit
    div#confirm
      p#name  Character Name:
      p#token Token:


  script(type="text/javascript" src="/javascripts/submit.js")
