extends layout

block content
  div(id="main")

    p To start your adventure, submit a name and receive your token
    div(id="submit")
      p(id="warning")
      form(action="/" name="input" method="POST")
        p
          | Character Name:&nbsp;
          input(type="text" name="charName" id="input")
          input(type="submit" id="submitButton")
    div#confirm
      p#name  Character Name:
      p#token Token:
      p
        | Click&nbsp;
        a(href="https://github.com/Dahaden/lossignup") Here
        | &nbsp;to start your journey!


  script(type="text/javascript" src="/javascripts/submit.js")
