doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css')
    script(type="text/javascript" src="/javascripts/jquery.min.js")

  body
    header
      img(src="/images/logo.png" id="logo")
    block content
